/* Footer Social */
* {
    outline: none;
}
.page-content {
    width: 100%;
}
.trigger-zoom {
    text-decoration: initial !important;
}
.trigger-zoom.active {
    background: #fff;
}
.trigger-zoom.active i {
    color: rgba(100,100,100,.8)
}
nav.primary ul li a.selected span:after{
    left: 0px;
    right: 0px;
}
body {
    /*overflow: hidden; */
}
.nicescroll-rails.nicescroll-rails-vr {
    z-index: 99999999;
}
footer {
    width: 100%;
    padding: 55px 0px;
    display: block;
    background: #131212;
    position: relative;
}
footer .social-data > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: block;
    text-align: center;
}
footer .social-data > ul > li {
    display: inline-block;
    width: initial;
    margin-right: 10px;
}
footer .social-data > ul > li:last-child {
    margin-right: 0px;
}
footer .social-data > ul > li > a {
    display: inline-block;
}
footer .social-data > ul > li > a > span {
    color: #fff;
    background-color: #3d3c37;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 100%;
    font-size: 18px;
    line-height: 41px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
footer .social-data > ul > li > a > span:hover {
    color: #3d3c37;
    background: #fff;
}
footer > .btn-action-top {
    position: absolute;
    top:55px;
    right: 50px;
    border: 0px;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    background-color: #3d3c37;
    color: #fff;
    font-size: 18px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
footer > .btn-action-top:hover,
footer > .btn-action-top:focus {
    background-color: #fff;
    color: #3d3c37;
}

#mobile-menu-slider {
  display:none;
}

.gent {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
}
.slider-content {
    float: left;
    width: 100%;
    height: auto;
    position: relative;
}
.slider-content .pogoSlider {
    margin-bottom: 0px;
}
.page-content {
    display: inline-block;
    margin-top: 100px;
}
.header {
    background-color: #2f2e2c;
}
.leafs {
    right: 310px;
    top: -20px;
}
.slider-content .home-slider {
    height: auto;
    padding-bottom: 48% !important;
}
.page-content .title:after {
    left: 0 !important;
    width: 100%;
}
.page-content {
    width: 100%;
    display: inline-block;
}
.about-content {
    width: 100%;
    display: inline-block;
}
.bound .pages {
    display: inline-block;
    margin-top: 1vw;
}
/* Fixed naviagtion */

.header .nav>li>a:focus:after,
.header .nav>li>a:active:after {
    left: 0;
    right: 0;
}
.header .nav>li>a:focus,
.header .nav>li>a:active {
    background-color: transparent;
}
.header .nav>li>a {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.header.is-fixed {
    position: fixed;
    background-color: transparent;
    height: 70px;
    background-position-y: 71px;
    z-index: 9999;
}
.header.is-fixed .logo {
    height: 100px;
    background-position-y: -40px;
}
.header.is-fixed .logo .logo_gizzi{
    margin-top: -25px;
    background-size: 150px 70px;
}
.header.is-fixed .nav>li {
    line-height: 42px;
}
.header.is-fixed .nav>li>a {
    font-size: 18px;
}
@media screen and (max-width: 1555px) {
    .leafs {
        right: 200px;
    }
}
@media screen and (max-width: 1450px) {
    .bound .pages {
        margin-top: 6vw;
        display: inline-block;
    }
}
@media screen and (max-width: 1280px){
    .trigger-zoom{
        top: -60px;
        right: 45%;
    }
}
@media screen and (max-width: 1200px) {
    .header .nav>li {
        padding-right: 10px;
    }
    .header .nav>li>a {
        font-size: 16px;
    }
    .leafs {
        right: 100px;
        z-index: 2;
    }
    .bound .pages {
        margin-top: 10vw;
        display: inline-block;
    }
    .container {
        width: 90% !important;
    }
}

@media screen and (max-width: 1000px) {
    html .navbar-collapse {
        background: url(../images/menu-bg.png) center right;
        width: 100%;
        z-index: 99;
        position: absolute;
        top: 135px;
        left: 0px;
        text-align: center;
    }
    .header .logo {
        width: 100%;
        height: 135px;
        z-index: 9;
        background: url(../images/logo-bg-responsive.png) repeat;
        text-align: center;
    }
    .header .logo .logo_gizzi {
        margin-left: 0px;
        width: initial;
    }
    .header .nav>li {
        float: none;
        display: inline-block;
    }
    .navbar-nav {
        width: 100%;
    }
    .gent {
        position: relative;
        width: 100%;
        display: inline-block;
        overflow: hidden;
        padding-bottom: 60px;
    }
    .header {
        float: left;
        height: 230px;
    }
    .page-content {
        margin-top: 0px;
        display: inline-block;
    }
    .page-content .about-content .about-image figure {
        text-align: center !important;
    }
    .book.bound {
        text-align: center;
    }
    .bound .page, .bound .pages {
        height: 63vw;
    }
    .bound .pages {
        margin: 10vw auto;
        width: 90vw;
        display: inline-block;
    }
    .bound .page {
        width: 45vw;
    }
    .page-content .menu-content #book-cover {
        display: none;
    }
    .page-content .menu-content {
        height: auto;
    }
    .header.is-fixed .navbar-collapse.collapse {
        top: 80px;
    }
    .header.is-fixed .nav>li>a {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .header.is-fixed .navbar-toggle {
        margin-top: 25px;
    }
    .navbar-toggle {  margin-top: 40px;
        z-index: 99999;
        width: 30px;
        height: 40px;
        position: relative;
        margin-bottom: 0px;
        padding: 0px;
    }
    /* responsive icon */
    .navbar-toggle span{
        border-radius: 2px;
        width: 100%;
        height: 4px;
        background: #fff;
        margin-bottom: 4px;
        float: left;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .navbar-toggle.open span {
        background: #000;
    }
    .navbar-toggle.open span:nth-child(1) {
        -webkit-transform: rotate(-45deg) translate(-10px, 9px);
    }
    .navbar-toggle.open span:nth-child(2) {
        opacity: 0;
    }
    .navbar-toggle.open span:last-child {
        -webkit-transform: rotate(45deg) translate(-2px, -1px);
    }
    .header {
        height: auto;.navbar-toggle
    }
    .navbar-toggle > i {
        color: #fff;
        font-size: 25px;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    /* test */
    .header .logo {
       width: 100%;
    }
    .header {
        background: black;
        margin-bottom: 40px;
    }
    .slider-content .pogoSlider-slide-element {
        display: none;
    }
    html .navbar-collapse {
        padding: 0px;
        width: 100%;
        height: 100%;
        background: transparent;
        position: fixed;
        top: 0px;
        left: 0px;
        margin: 0px !important;
        visibility: hidden;
    }
    .navbar-nav {
        width: 100%;
        height: 100%;
        margin: 0px;
        position: absolute;
        padding-top: 20%;
        overflow: hidden;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    html .navbar-collapse.open {
        visibility: visible;
    }
    html .navbar-collapse.open .navbar-nav {
        background: rgba(255,255,255,.9);
    }
    html .navbar-collapse .navbar-nav li {
        -webkit-transition: all .0s ;
        -moz-transition: all .0s ;
        -o-transition: all .0s ;
        transition: all .0s ;
    }
    html .navbar-collapse.open .navbar-nav li {
        opacity: 1;
        -webkit-transition: all .9s;
        -moz-transition: all .9s;
        -o-transition: all .9s;
        transition: all .9s;
        padding:1em 0;
    }
    .header .nav>li {
        display: block;
        width: 100%;
        padding: 0px;
        opacity: 0;
    }
    .header .nav>li>a {
        display: inline-block;
        position: relative;
        overflow: hidden;
    }
    body {
        overflow: hidden;
    }
    .slider-content .slider-banner .slider-logo h3 {
        font-size: 16px;
        margin-top: 40px;
        margin-left: 60px;
    }
    .page-content .about-content .about-history p {
        text-align: center;
    }
    .bound .pages {
        margin: 13vw auto 18vw auto;
    }

    .book {
      display: none;
    }

    #mobile-menu-slider {
      display:block;
    }
    #mobile-menu-slider {
        padding: 10px;
    }
}

@media screen and (max-width: 576px) {
    .leafs {
        display: none;
    }
    footer > .btn-action-top {
        top: initial;
        right: 10px;
    }
}

@media screen and (max-width: 495px) {
    .slider-content .slider-banner .slider-logo img {
        margin-top: 3em;
        width: 30%;
    }
    .slider-content .slider-banner .slider-logo h3 {
        font-size: 13px;
        margin-top: 40px;
        margin-left: 30px;
    }
    nav.primary {
        margin-bottom: 20px;
    }
    nav.primary ul {
        width: 100%;
        padding-left: 0px;
        display: inline-block;
        text-align: center;
    }
    nav.primary ul li {
        float: none;
        display: inline-block;
    }
}
